body {
      background-color: #708090;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      transition: background-color 0.3s ease;
    }

    body.night-mode {
      background-color: #2c3e50;
    }

    #app {
      max-width: 90%;
      margin: 50px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #app.night-mode {
      background-color: #34495e;
    }

    h1 {
      color: #3498db;
      text-align: center;
    }

    .word-display {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;
      border: 10px solid #3498db;
      background-color: #ffffff;
      color: #3498db;
      width: 90%;
      height: 50px;
    }

    .word-display.green {
      color: #27ae60;
      border-color: #27ae60;
    }

    .word-display.red {
      color: #c0392b;
      border-color: #c0392b;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .button-container button {
      background-color: #3498db;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 31px;
      border-radius: 5px;
      margin: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .button-container button.correct {
      background-color: #27ae60;
    }

    .button-container button.incorrect {
      background-color: #c0392b;
    }

    .word-count {
      text-align: center;
      width: 90%;
    }

    .word-count h2 {
      color: #3498db;
    }

    .word-count ul {
      list-style-type: none;
      padding: 0;
      margin-top: 10px;
    }

    .word-count li {
      margin-bottom: 5px;
      color: #555555;
    }

    .night-mode-toggle {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .night-mode-toggle label {
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
      color: #555555;
      cursor: pointer;
    }

    .night-mode-toggle input[type="checkbox"] {
      margin-right: 5px;
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 2px solid #555555;
      position: relative;
      outline: none;
      cursor: pointer;
      display: none;
    }

    .night-mode-toggle input[type="checkbox"]:checked {
      background-color: #555555;
    }

    .night-mode-toggle input[type="checkbox"]::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    .night-mode-toggle input[type="checkbox"]:checked::before {
      transform: scale(1);
    }

    .switch-ios {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 30px;
      border-radius: 15px;
      background-color: #3498db;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    .switch-ios:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      border-radius: 13px;
      background-color: #fff;
      transition: left 0.3s;
    }

    .switch-ios.checked {
      background-color: #3498db;
    }

    .switch-ios.checked:before {
      left: calc(100% - 28px);
    }
    .countAnswer {
      display: flex;
      justify-content: space-evenly;
      min-width: 250px;
      width: 400px;
      max-width: 90%;
      margin-bottom: 20px;
    }
    .correct,
    .incorrect {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    .correct {
      background-color: #27ae60;
    }
    .incorrect {
      background-color: #c0392b;
    }
    .responsive {
        width: 250px;
        height: 75px;
        font-size: 28px;
      }
    /* @media screen and (max-width: 723px) {
        .responsive {
          width: 250px;
          height: 75px;
          font-size: 31px;
        }
      } */
      .redtimer {
        color: #c0392b;
      }